
DATABASE_URL="mysql://usuario:password@localhost:3306/bolsa_trabajo_upa"



JWT_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"
JWT_EXPIRES_IN="7d"

PORT=4000
NODE_ENV=development

´+
CORS_ORIGIN="http://localhost:3000"
